name: Generate WCMP2 Codelists as TTL files

on:
  pull_request:
    paths:
      - 'topic-hierarchy/**.csv'
      - '**.py'
      - '**.yml'

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install flake8
      - name: Generate TTL files
        run: |
          python3 scripts/codelists2ttl_toplevel.py
      - name: run flake8
        run: flake8 scripts/
