name: Publish TTL files to WMO Codes Registry production environment

env:
  WMO_CODES_USER_ID: ${{ secrets.CODES_REGISTRY_API_USER_ID }}
  WMO_CODES_API_KEY: ${{ secrets.CODES_REGISTRY_API_SECRET }}
  INFOMANIAK_USER: ${{ secrets.INFOMANIAK_SCHEMA_USER }}
  INFOMANIAK_PW: ${{ secrets.INFOMANIAK_SCHEMA_PASSWORD }}

on:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r scripts/requirements.txt
      - name: create TTL and publish to codes registry
        run: |
          python3 scripts/codelists2ttl.py
          python3 scripts/upload_changes.py $WMO_CODES_USER_ID $WMO_CODES_API_KEY prod wis/topic-hierarchy/centre-id/ --status experimental
      - name: create bundle and upload to Infomaniak   
        run: |
          python3 scripts/generate-bundle.py
          rm -rf /tmp/wis2-topic-hierarchy-a.zip
          zip /tmp/wis2-topic-hierarchy-a.zip topic-hierarchy/*.csv
          curl -T /tmp/wis2-topic-hierarchy-a.zip -u "$INFOMANIAK_USER:$INFOMANIAK_PW" ftp://egji.ftp.infomaniak.com/wis2-topic-hierarchy-a.zip
    
