name: build specification

on:
  push:
    branches:
    - main
#    paths:
#    - 'standard/**'

env:
  FILE_BASENAME: wis2-topic-hierarchy-STABLE

jobs:
  build-wis2-topic-hierarchy:
    name: Build WIS2 Topic Hierarchy documentation
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y \
          && sudo apt-get install -y pandoc \
          && sudo gem install asciidoctor asciidoctor-pdf
      - name: checkout repository
        uses: actions/checkout@master
      - name: build documentation
        run: |
          cd standard \
          && asciidoctor --trace -a stylesheet=css/wmo-asciidoc.css -o /tmp/wis2-topic-hierarchy/standard/${FILE_BASENAME}.html index.adoc \
          && asciidoctor --trace --backend docbook --out-file - index.adoc | pandoc --from docbook --to docx --output /tmp/wis2-topic-hierarchy/standard/${FILE_BASENAME}.docx \
          && asciidoctor --trace -r asciidoctor-pdf --trace -b pdf -o /tmp/wis2-topic-hierarchy/standard/${FILE_BASENAME}.pdf index.adoc \
          && mkdir -p /tmp/wis2-topic-hierarchy/standard/images \
          && cp images/*.png /tmp/wis2-topic-hierarchy/standard/images \
          && cd ..
      - name: checkout gh-pages branch
        uses: actions/checkout@master
        with:
          ref: gh-pages
      - name: update gh-pages branch and publish
        run: | 
          git checkout gh-pages
          git config --global user.email "tomkralidis@gmail.com"
          git config --global user.name "Tom Kralidis"
          rm -rf standard
          mv -f /tmp/wis2-topic-hierarchy/* .
          git add .
          git commit -am "update WTH build"
          git push
